h1 {
    text-align: center;
  
  }
  
  
  div {
    text-align: center;
  }

  .container {
    margin-top: 2vh;
    height: 100vh;
  }
  

  .linkwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
  }

  .links{
    flex: 0 0 30%;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    font-size: 9vh;
  }

  a{
    text-decoration: none;
    font-size: 9vh;
  }

  .cards {
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 73vh;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
  }
  
  
  model-viewer {
    width: 100%;
    height: 73vh;
    margin: auto;
  }
  
  /* .model {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  } */


  .attribution {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
  }
  
  .attribution h4 {
    margin: 0 0 0.25em;
  }

  .icons{
    color: #455A75;
  }


  
 